.footer-arrow {
    
    float:left ;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  
  }
  
  .footer-arrow svg {
  
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
    background-color: #059767;
  
  }
  
  .footer-arrow .shape-fill {
  
    fill: #fff;
  
  }
  
  .main_footer          { background-color:#059767; color:#fff; font-size:1em; }
  .main_footer .content { float:left; width:80%; margin:0 10%;  }
  
  .container { float:left; width:100%; }
  .colfooter { 
  
  width:100%; 
  height:auto; 
  float:left; 
  margin-bottom:2em;
  }
  .colfooter ul        { width:100%; float:left; }
  .colfooter ul li     { padding:0.2em 0em; }
  .colfooter ul li a   { text-decoration:none; color:#ffffff; font-size:1em; transition:0.2s; }
  .colfooter ul li a i { font-size:0.5em; }
  .colfooter ul li a:hover { color:#fffb00; }
  
  .colfooter .titleFooter   { 
  
  font-family: 'Lato', sans-serif; 
  font-size:1.3em; 
  color:#ffffff; 
  padding-bottom: 0.5em; 
  margin-bottom:0.5em; 
  border-bottom: 1px #27b385 solid;
  
  }
  
  .colfooter p  { 
  
  font-family: 'Lato', sans-serif; 
  color:#ffffff; 
  font-size:1em; 
  height:25px; 
  
  }
  
  .colfooter .redesocial { 
    
    color: #ffffff;
    float: left;
    text-decoration: none;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    transition:0.2s;
  
  }